$black: #101010;
$darker_black: #0a0a0a;
$light_black: #181818;
$grey: #E6E6E6;
$granate: #6F2232;
$purple: #950740;
$bright_red: #C3073F;
$granate_pale: rgba(111, 34, 49, 0.507);
$darker_grey: rgb(128, 128, 128);
